<%- include('./includes/head.ejs') %>

<!-- Single News Start-->
<div class="single-news">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="sn-container">
          <div class="sn-img">
            <img src="<%= articles.imgUrl %>" />
          </div>
          <div class="sn-content">
            <h1 class="sn-title"><%= articles.title %></h1>
            <p><%= articles.text %></p>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="sidebar">
          <div class="sidebar-widget">
            <h2 class="sw-title">Related News</h2>
            <div class="news-list">
              <% if (allArticles.length > 0) { %> <% for (let article of
              allArticles) { %>
              <div class="nl-item">
                <div class="nl-img">
                   <a href="/<%= article._id %>">
                  <img src="<%= article.imgUrl %>" /> </a>
                </div>
                <div class="nl-title">
                  <a href="/<%= article._id %>"><%= article.title %></a>
                </div>
              </div>
              <% } %> <% } else { %>
              <h1>No Articles Added Yet From Database!</h1>
              <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Single News End-->

<%- include('./includes/end.ejs') %>
